{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Management System</title>

    {% if debug %}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module" src="http://localhost:5173/resources/js/main.tsx"></script>
    {% else %}
    {% vite_asset 'resources/js/main.tsx' %}
    {% endif %}
</head>
<body>
    {% block inertia %}{% endblock %}
</body>
</html>
